<div id="search-wrapper">
    <h2 class="section-header">Search for Students</h2>
    <div id="add-student-wrapper" class="wrapper-border">
        <form id="add-student-form" method="POST" action="{{ url_for("add") }}" role="form">
            {{ g.search_form.hidden_tag() }}
            {% for field in g.search_form %}
                {% if field.type != "CSRFTokenField" %}
                <div class="form-group{{ " has-error" if field.errors else "" }}">
                        {{ field.label }}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                        {{ field(class_="form-control", placeholder=field.description) }}
                    </div>
                {% endif %}
            {% endfor %}
            {% if search_error %}
                <div class="form-group has-error">
                    <span class="help-block">{{ search_error }}</span>
                </div>
            {% endif %}
            <button id="add-student-button" type="submit" class="btn btn-primary">Search</button>
            <button id="help-search" type="button" class="btn btn-info help">Help</button>
        </form>

        {% if selection %}
            <div id="selection-wrapper">
            <h4>Click to Add Student</h4>
                {% for b in selection %}
                <button class="btn btn-primary selection-button" data-username="{{ b["username"] }}"><span class="glyphicon glyphicon-plus"></span> {{ b["name"] }} ({{ b["username"] }})</button>
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>
